{% block content %}
<h1>Simple A/B Testing</h1>
{% if message is not empty %}
<div class="alert">
    {{ message }}
</div>
{% endif %}

    <div class="card">
        <div class="card-content">
            <h2>Insert experiment with Matomo Tag Manager</h2>
            <p>To insert an experiment, you need to use Matomo Tag Manager.
            </p>

        </div>
    </div>
{% endblock %}